/*Todas las propiedades de la imagen principal*/

.main-img img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

/*Todas las propiedades de la seccion de niveles*/

.niveles h2 {
    text-align: center;
    padding: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    color: #101;
}

.niveles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nivel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 450px;
    height: 650px;
    margin-bottom: 30px;
}

.nivel img {
    width: 300px;
    height: 300px;
    transition: transform 0.5s;
}

.nivel h3 {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    color: #101;
    transition: transform 0.5s;
}

.nivel p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    animation: elevar-parrafos 1.2s;
    transition: transform 0.5s;
}

.nivel:hover > h3, .nivel:hover > p, .nivel:hover > img {
    transform: translateY(-10px);
}

@keyframes elevar-parrafos {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.nivel__button {
    padding: 20px;
    background-color: #d70;
    border-radius: 30px; 
    text-decoration: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    transition: background-color 0.5s;
}

.nivel__button:hover {
    background-color: #f50;
}

/*Todas las propiedades de la seccion de novedades*/

.novedades {
    background-color: #fff;
    overflow: hidden;
}

.novedades h2 {
    text-align: center;
    padding: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    color: #101;
}

.novedades ul {
    display: flex;
    list-style: none;
    width: 200%;
    text-align: center;
}

#novedades-pag1, #novedades-pag2 {
    width: 100%;
    
}

.novedad {
    display: inline-block;
    margin: 0 40px;
    width: 330px;
    height: 400px;
    border: 1px #ddd solid;
    border-radius: 15px;
    transition: transform 0.5s;
    box-shadow: 0 3px 2px #bbb;
    animation: colocar-novedades 2s;
    overflow: hidden;
}

@keyframes colocar-novedades {
    0% {
        transform: translateX(40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.novedad:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px #bbb;
}

.novedad a {
    text-decoration: none;
}

.novedad img {
    border-radius: 15px 15px 0 0;
    margin-bottom: 20px;
}

.novedad h4 {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: #101;
}

.novedad p {
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 20px;
}

.novedades-buttons {
    text-align: center;
}

#button-pag1, #button-pag2 {
    margin: 20px 10px;
    border-radius: 50%;
    border: 3px #bbb solid;
    background-color: #ddd;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#button-pag1 {
    border: 3px #d70 solid;
    background-color: #d90;
}

/*Todas las propiedades de la seccion de contacto*/

.contacto h2 {
    text-align: center;
    padding: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    color: #101;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 750px;
    padding-bottom: 30px;
}

.contact-container h3 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: #101;
}


.contact-form-container {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 700px;
}

.contact-form__item {
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}

.contact-form__item:hover {
    outline: 1px solid #f50;
}

.contact-form textarea {
    resize: none;
    height: 200px;
}

.contact-form__button {
    outline: none;
    width: 25%;
    padding: 20px;
    background-color: #d70;
    border-radius: 30px;
    border: none;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    transition: background-color 0.5s;
}

.contact-form__button:hover {
    background-color: #f50;
}

.contact-info-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.contact-info {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    height: 25%;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-info__item {
    color: #101;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
}

.contact-info__item i {
    color: #c81f13;
}

.contact-info__item a {
    color: #101;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: color 0.5s;
}

.contact-info__item a:hover {
    color: #f50;
}

#map {
    width: 100%;
    height: 60%;
    border: none;
}

.social-media {
    background-color: #fff;
}

.social-media h2 {
    text-align: center;
    padding: 40px;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: #101;
}

.social-media__ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.social-media__item {
    margin: 0 20px 20px 20px;
    background-color: #104;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    transition: transform 0.5s;
}

.social-media__item:hover {
    transform: translateY(-7px);
}

.social-media__item a {    
    color: #ddd;
    text-decoration: none;
}

.social-media__item i {
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding-top: 15px;
}