.nivel-info-text {
    height: 300px;
}

/*Todas las propiedades del texto y la galeria extra*/

.nivel-galeria {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
    height: 500px;
}

.nivel-galeria-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}

.nivel-galeria-text h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    color: #d70;
}

.nivel-galeria-text p, .nivel-galeria-text li {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: #101;
    letter-spacing: 1px;
    line-height: 1.3;
}

.nivel-galeria-text h3 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #d50;
}

.nivel-galeria-text ul {
    list-style: square;
}

.nivel-galeria img {
    width: 35%;
    border-radius: 30px;
}