:root {
    --color-blanco: #fff;
    --color-negro: #222;
    --color-fondo: #ddd;
    --color-gris-claro: #bbb;
    --color-azul-oscuro: #107;
    --color-azul-oscuro-alt: #104;
    --color-amarillo: #d90;
    --color-naranja-claro: #d70;
    --color-naranja: #d50;
    --color-naranja-alt: #f50;
    --color-rojo: #c81f13;
}

/*Estilos generales para los headings del index*/

h2 {
    text-align: center;
    padding: 3rem;
    font-size: 5rem;
    color: var(--color-negro);
}

h3 {
    color: var(--color-negro);
}

/*Todas las propiedades de la imagen principal*/

.main-img {
    width: 100%;
    height: 60vh;
    background-image: url(../img/ImgPrincipal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*Todas las propiedades de la seccion de niveles*/

.niveles__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

.niveles__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 45rem;
    height: 65rem;
    
}

.niveles__img {
    width: 30rem;
    height: 30rem;
    transition: transform 0.5s;
    filter: invert(90%)
            saturate(200%) 
            hue-rotate(100deg) 
            brightness(120%) 
            contrast(70%);
}

.niveles__subtitle {
    font-size: 3.6rem;
    transition: transform 0.5s;
}

.niveles__text {
    text-align: center;
    font-size: 1.7rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    animation: elevar-parrafos 1.2s;
    transition: transform 0.5s;
}

.niveles__item:hover > .niveles__subtitle,
.niveles__item:hover > .niveles__text,
.niveles__item:hover > .niveles__img {
    transform: translateY(-1rem);
}

@keyframes elevar-parrafos {
    0% {
        transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/*Todas las propiedades de la seccion de novedades*/

.novedades {
    background: var(--color-blanco);
    overflow-x: hidden;
}

.novedades__container {
    display: flex;
    list-style: none;
    width: 200%;
    text-align: center;
}

.novedades__page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.novedades__item {
    display: inline-block;
    width: 33rem;
    height: 40rem;
    border: 0.1rem var(--color-fondo) solid;
    border-radius: 15px;
    transition: transform 0.5s;
    box-shadow: 0 0.3rem 0.2rem var(--color-gris-claro);
    animation: colocar-novedades 2s;
    overflow: hidden;
}

@keyframes colocar-novedades {
    0% {
        transform: translateX(40px);
        transform: translateX(40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.novedades__item:hover {
    transform: translateY(-1rem);
    box-shadow: 0 0.5rem 1rem var(--color-gris-claro);
}

.novedades__link {
    text-decoration: none;
}

.novedades__img {
    border-radius: 1.5rem 1.5rem 0 0;
    padding-bottom: 2rem;
    width: 100%;
    height: 47.5%;
    object-fit: cover;
    width: 100%;
    height: 47.5%;
    object-fit: cover;
}

.novedades__subtitle {
    font-size: 1.7rem;
    color: var(--color-negro);
}

.novedades__text {
    padding: 2rem;
    font-size: 1.6rem;
}

.novedades__buttons {
    text-align: center;
}

.novedades__button {
    width: 1.5rem;
    height: 1.5rem;
    margin: 2rem;
    border-radius: 50%;
    border: 0.3rem var(--color-gris-claro) solid;
    background: var(--color-fondo);
    cursor: pointer;
}

#button-pag1 {
    border: 0.3rem var(--color-naranja-claro) solid;
    background: var(--color-amarillo);
}

/*Todas las propiepades para el modal de las novedades*/

.modal {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 250;

    background: #2228;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s 0.3s;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 0.5s;
}

.modal__container {
    width: 90%;
    max-width: 75rem;
    max-height: 90%;
    background: var(--color-blanco);
    opacity: 0;

    margin: auto;
    padding: 3rem 2.5rem;
    border-radius: 10px;
    box-shadow: 0 0 30px;

    display: flex;
    flex-direction: column;
    transform: translateY(-100vh);
    

    transition: transform, opacity, 1s;
}

.modal__container--show {
    opacity: 1;
    transform: translateY(0);
    transition: transform, opacity, 1s;
}

.modal__img {
    max-width: 90%;
    width: 80rem;
    height: 30rem;
    object-fit: cover;
    align-self: center;
    border-radius: 15px;
    margin-top: 2rem;
}

.modal__title {
    font-size: 3.5rem;
    padding: 3rem 0;
}

.modal__text {
    font-size: 1.7rem;
    line-height: 1.3;
    color: var(--color-negro);
    text-align: justify;
    overflow-y: scroll;
}

.modal__button {
    margin-top: 3rem;
}

/*Todas las propiedades de la seccion de contacto*/

.contacto__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    padding: 3rem 0;
}

.contacto__form-container {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contacto__subtitle {
    font-size: 2.7rem;
}

.contacto__form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 750px;
}

.contacto__form-error {
    color: var(--color-negro);
    font-size: 1.5rem;
    font-weight: 700;
}

.contacto__form-item {
    background: var(--color-blanco);
    padding: 2rem;
    border-radius: 1rem;
    outline: none;
    border: none;
    font-size: 1.7rem;
}

.contacto__form-item:hover {
    outline: 1px solid var(--color-naranja-alt);
}

.contacto__form-item--noresize {
    resize: none;
    height: 25%;
}

.contacto__button {
    align-self: flex-start;
}

.contacto__info-container {
    width: 40%;
    height: 750px;
    display: flex;
    flex-direction: column;
}

.contacto__info {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    width: 100%;
    height: 25%;
    justify-content: space-around;
    margin: 1.5rem 0;
}

.contacto__info-item {
    color: var(--color-negro);
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

.contacto__info-icon {
    color: var(--color-rojo);
}

.contacto__info-link {
    color: var(--color-negro);
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    transition: color 0.5s;
}

.contacto__info-link:hover {
    color: var(--color-naranja-alt);
}

#map {
    width: 100%;
    height: 60%;
    border: none;
}

/*Todas las propiedades de la barra final con las redes sociales*/

.social-media {
    background-color: var(--color-blanco);
}

.social-media__title {
    font-size: 4rem;
}

.social-media__container {
    display: flex;
    list-style: none;
    justify-content: center;
}

.social-media__item {
    margin: 0 2rem 2rem 2rem;
    background: var(--color-azul-oscuro-alt);
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    text-align: center;
    transition: transform 0.5s;
}

.social-media__item:hover {
    transform: translateY(-0.7rem);
}

.social-media__icon--white {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    padding-top: 1.5rem;
    color: var(--color-fondo);
}




/*Media queries*/

@media screen and (max-width: 1249px) {
    .novedades__item {
        margin: 2rem 4rem;
    }
}

@media screen and (max-width: 860px) {

    .niveles__text {
        font-size: 1.85rem;
        padding: 0 1.5rem;
    }

    .niveles__item {
        height: 75rem;
    }

    .novedades__item {
        margin: 1.5rem;
    }

    .novedades__text {
        font-size: 1.8rem;
    }

    .novedades__button {
        width: 2.3rem;
        height: 2.3rem;
        margin: 2rem 3rem;
    }

    .modal__container {
        padding: 1.7rem;
    }

    .modal__img {
        height: auto;
    }

    .modal__title {
        padding: 1.5rem 0;
        align-self: center;
    }

    .modal__text {
        line-height: 1.4;
        letter-spacing: 0.05rem;
    }

    .modal__button {
        margin-top: 2rem;
    }

    .contacto__form-container,
    .contacto__info-container {
        width: 80%;
        margin: 2rem 0;
    }

}

@media screen and (max-height: 800px) and (orientation: landscape) {

    .modal__container {
        display: grid;

        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 27.5% 50% 22.5%;

        max-width: 90%;
        padding: 1.7rem;
    }

    .modal__img{
        width: 100%;
        height: 100%;
        margin: 0;
        grid-row: 1 / 3;
    }

    .modal__title {
        align-self: center;
        grid-column: 2 / 4;
    }

    .modal__text {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
        
    }

    .modal__button {
        margin: 0;
        align-self: flex-end;
        grid-row: 3 / 4;
        grid-column: 2 / 2;
        text-align: center;
        padding: 2rem;
    }
}

@media screen and (min-width: 1000px) {

    .modal__container {
        grid-template-columns: 42.5% 15% 42.5%;
    }
}

@media screen and (max-width: 395px) {

    .g-recaptcha {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}