/*Todas las propiedades del texto y la galeria extra*/

.materias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5rem 0;
}

.materias__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: auto;
}

.materias__subtitle {
    font-size: 1.6rem;
}

.materias__title,
.materias__text,
.materias__lists,
.materias__subtitle,
.galeria {
    margin: 3.5rem 0;
}

.materias__text,
.materias__item {
    font-size: 1.7rem;
    color: var(--color-negro);
    letter-spacing: 0.1rem;
    line-height: 1.3;
}

.materias__item {
    list-style-position: inside;
}

/*Todas las propiedades del slider de fotos*/

.slider {
    width: 70rem;
    height: 35rem;
}

.slider__container {
    width: 300%;
}





/*Media queries*/

@media screen and (max-width: 1414px) {

    .materias__container {
        width: 90%;
    }

    .slider {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 860px) {

    .materias__text,
    .materias__item {
        line-height: 1.6;
    }
}

@media screen and (max-width: 600px) {

    .slider {
        width: 90%;
        height: 50%;
    }
}